1. soru

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.DataFrame({'ALFABE' : ['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J'],
                   'ASAL':  [2, 3, 5, 7, 11,13, 17, 19, 23, 29],
                   'Kod' : [1, 1, 2, 3, 5,8, 13, 21, 34, 55],
                  })

In [5]:
df.set_index('ALFABE')

        ASAL  Kod
ALFABE
A          2    1
B          3    1
C          5    2
D          7    3
E         11    5
F         13    8
G         17   13
H         19   21
I         23   34
J         29   55

2. soru

In [18]:
df = pd.read_csv('train.csv')

In [17]:
df.groupby('Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

3. soru

In [19]:
df.loc[lambda df: df['Age'] < 30,].mean()['Survived']

2.484375

In [20]:
df.loc[lambda df: df['Age'] < 30,].groupby('Sex').mean()['Survived']

Sex
female    2.312925
male      2.590717
Name: Survived, dtype: float64